<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<div class="row">
    <div class="col-sm-4">
        <form id="m_form_1">
            <div class="row">

                <div class="form-group col-sm-6">
                    <label for="fname">usuario</label>
                    <input type="text" [(ngModel)]="formData.firstname"
                           id="fname"
                           name="firstname"
                           class="form-control"
                           placeholder="nombre">
                </div>


                <div class="form-group col-sm-6">
                    <label for="lname">contraseña</label>
                    <input type="text" [(ngModel)]="formData.lastname"
                           id="lname"
                           name="lastname"
                           class="form-control"
                           placeholder="Segundo nombre">
                </div>

            </div>
        </form>
    </div>

    <div class="col-sm-4">
        <button type="button"
                (click)="onButtonClick02()"
                class="btn btn-primary">
            BotonTest
        </button>
    </div>

    <div class="col-sm-4">
        col03
    </div>

</div>

<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <ul>
                <li *ngFor="let item of listResult">
                    {{ item.id}}
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>